{% extends 'ContenedorMain/contenedorMain.html' %} {%block content %} {%from
  "Macros/_macros.html" import render_field%}

<link
  rel="stylesheet"
  href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="../../static/css/proveedor.css" />
<link rel="stylesheet" href="../../static/css/buttons.css" />

<link
  rel="stylesheet"
  type="text/css"
  href="../../static/bootstrap-5.1.3-dist/css/bootstrap.css"
/>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../static/js/proveedores.js"></script>
<script src="../../static/sweetalert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="../../static/sweetalert2/sweetalert2.min.css" />

<form action="/pagePrincipal/proveedor" method="post" id="prov-form" novalidate>
  {%with messages = get_flashed_messages()%} {%if messages%}
  <br />
  {%for message in messages %}
  <div class="alert alert-success alert-dismissible" role="alert">
    <strong>{{message}}</strong> 
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {%endfor%} {%endif%} {%endwith%}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="idUser" value="{{current_user.id_us}}" />
  <input type="hidden" name="idProvEdit" id="form-id" value="" />
  <input type="hidden" name="idProvDelete" id="form-iddelete" value="" />
  <input type="hidden" name="action" id="form-action" value="" />

  <div class="container">
    <div class="titleModule">Módulo de gestión de Proveedores.</div>
    <br />
    <div class="containerProv">
    <div class="row">
      <div class="col-md-6">
        {{ render_field(form.nombre,
        class="form-control",id="form-nombre",placeholder="ej. Lacteos ...") }} {% if
        form.nombre.errors %} {% for error in form.nombre.errors %}
        <p style="color: red">*{{ error }}</p>
        {% endfor %} {% endif %}
      </div>
      <div class="col-md-6">
        {{ render_field(form.telefono,
        class="form-control",id="form-telefono",placeholder="ej. 477900223") }} {% if
        form.telefono.errors %} {% for error in form.telefono.errors %}
        <p style="color: red">*{{ error }}</p>
        {% endfor %} {% endif %}
      </div>
      <div class="col-md-6">
        {{ render_field(form.correo, class="form-control",id="form-correo",placeholder="ej. lacteosJ@gmail.com") }}
        {% if form.correo.errors %} {% for error in form.correo.errors %}
        <p style="color: red">*{{ error }}</p>
        {% endfor %} {% endif %}
      </div>
      <div class="col-md-6">
        {{ render_field(form.dias_visita,
        class="form-control",id="form-diasVisita",placeholder="ej. Lunes, Martes y Viernes") }} {% if
        form.dias_visita.errors %} {% for error in form.dias_visita.errors %}
        <p style="color: red">*{{ error }}</p>
        {% endfor %} {% endif %}
      </div>
    </div>
    <br><br>
    <div class="row">
      <br />
    <button
      id="registrar"
      class="btn btn-dark"
      type="submit"
      name="registrar"
      value="Registrar"
    >
      Insertar
    </button>
    <button
      id="editar"
      class="btn btn-warning"
      type="submit"
      name="editar"
      value="Editar"
      disabled
    >
      Guardar Cambios
    </button>
    <button
      id="limpiar"
      class="btn"
      type="submit"
      name="limpiar"
      value="Limpiar"
      onclick="limpiarFormulario()"
    >
      Limpiar Formulario
    </button>
    </div>
  </div>
    
  </div>
  <br /><br />
  <div class="tableContainer">
    <div class="titleTable">Proveedores:</div>
    <br>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Proveedor</th>
        <th scope="col">Télefono</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Días de visita</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for prove in proveedores %} 
      {% if prove.estatus =='1'%}
        <td>
          <input
            type="hidden"
            name="idUserDelete"
            id="form-id"
            value="{{prove.id_proveedor}}"
          />
        </td>
        <td>{{ prove.nombre }}</td>
        <td>{{ prove.telefono }}</td>
        <td>{{ prove.correo }}</td>
        <td>{{ prove.dias_visita }}</td>
        <td>
          <button
            id="eliminar"
            class="btn btn-outline-danger"
            name="eliminar"
            value="Eliminar"
            type="submit"
            onclick="eliminarProv('{{prove.id_proveedor}}',event)"
          >
            Eliminar
          </button>
        </td>
        <td>
          <button
            id="editarS"
            name="editarS"
            class="btn btn-outline-secondary"
            onclick="editarProveedor('{{prove.id_proveedor}}','{{prove.nombre}}',
                                        '{{prove.telefono}}','{{prove.correo}}',
                                        '{{prove.dias_visita}}',event)"
          >
            Editar
          </button>
        </td>
      </tr>
      {% endif %}
       {% endfor %}
    </tbody>
  </table>
</div>
</form>

{%endblock%}