#registrar {
  background-color: #4a6142;
  color: white;
  width: 15rem;
}

#editar {
  background-color: #725849;
  color: white;
  width: 15rem;
}

#limpiar {
  background-color: #e4e0dd;
  color: black;
  width: 15rem;
}

.btnAgregar {
  background-color: #725849;
}

#ingresar {
  background-color: #4a6142;
  color: white;
}

.titleModule {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: #977d6f;
}

.titleTable {
  position: relative;
  font-weight: 500;
  font-size: 2.3em;
  color: #7ca078;
}

.containerUser {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 12px 12px 12px 12px #0f0e0e14;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  white-space: normal;
  width: auto;
  padding: 20px;
}

.spaceButton {
  padding-right: 10px;
}

.buttons {
  display: flex;
}

.btn {
  margin: 0 10px; /* Espaciado horizontal de 10px a ambos lados del botón */
}

.containerProv {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 12px 12px 12px 12px #0f0e0e14;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  white-space: normal;
  width: auto;
  padding: 20px;
}
.containerRegMeterial {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 12px 12px 12px 12px #0f0e0e14;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  white-space: normal;
  width: 80rem;
  padding: 20px;
}

.containerRegProducto {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 12px 12px 12px 12px #0f0e0e14;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  white-space: normal;
  width: 85rem;
  padding: 20px;
  margin-left: 40px;
  margin-top: 40px;
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 1.5em;
  color: #725849;
}
.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1em;
  margin-top: 5px;
}
.cardBox .card .iconBx {
  font-size: 3.5em;
  color: var(--black2);
}
.cardBox .card:hover {
  background: #977d6f;
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

.formInv {
  display: inline-grid;
}
