{%extends 'ContenedorMain/contenedorMain.html' %}

{%block content %}

<div class="row m-5">
    <div class="col-md-8">
        <h1>SOLICITUD DE PRODUCCION</h1>
    </div>
    <div class="col-4">
        <a href="/produccion" class="custom-buttongreen" style="text-decoration: none;">Volver a Produccion</a>
    </div>
</div>
{% set counter = namespace(value=1) %}
{% for receta in recetas %}
<div class="row">
    <form id="produccionForm{{ counter.value }}" action="/produccionGalleta" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="idProducto" value="{{ receta.idProducto }}"> <!-- Campo oculto para almacenar idProducto -->
        <input type="hidden" name="idProduccionitem" value="{{ receta.idProduccionitem }}">
        <input type="hidden" name="counter" value="{{ counter.value }}">
        <div class="card">
            <div class="card-header text-center">
                <div class="row">
                    <div class="col-6">
                        <h4>Receta: {{ receta.nombre }}</h4>
                    </div>
                    <div class="col-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Maximo: {{receta.cuantas}}</span>
                            <input type="number" id="cuantas_{{ counter.value }}" class="form-control cantidad" placeholder="Cantidad" name="cuantas_{{ counter.value }}" min="0" max="{{receta.cuantas}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4>Ingredientes</h4>
                {{receta.materiales}}
            </div>
        </div>
        <div class="col-3">
            <button type="button" class="mt-3 custom-buttongreen" onclick="producir('{{ counter.value }}')">Producir</button>
        </div>
        <!-- el boton tendra la funcionalidad de agregar al inventario la cantidad de galleta a producir -->
    </form>
</div>
<br><br>
{% set counter.value = counter.value + 1 %}
{% endfor %}
<script src="../static/js/produccion.js"></script>

<script>
    // Get all input elements with class "cantidad"
    var cantidadInputs = document.querySelectorAll('.cantidad');
    // Add event listener for input event to each input element
    cantidadInputs.forEach(function(cantidadInput) {
        cantidadInput.addEventListener('input', function(event) {
            // Get the entered value
            var enteredValue = parseInt(event.target.value);
            // Get the maximum allowed value from the corresponding "cuantas" attribute
            var maxAllowedValue = parseInt(event.target.getAttribute('max'));
            var minAllowedValue = parseInt(event.target.getAttribute('min'));

            // If the entered value is greater than the maximum allowed value
            if (enteredValue > maxAllowedValue || enteredValue < minAllowedValue) {
                // Prevent the default behavior of input event (don't update the input value)
                event.preventDefault();
                // Display a Swal alert
                event.target.value = '';
                Swal.fire({
                    title: "Error",
                    text: "La cantidad debe ser menor o igual a " + maxAllowedValue,
                    icon: "error",
                    button: "Aceptar"
                });
                
            }
        });
    });

    function producir(counter){
        console.log('produccionForm'+counter)

        document.getElementById('produccionForm'+counter).submit();
    }

</script>


{%endblock%}