{%extends 'ContenedorMain/contenedorMain.html' %}

{%block content %}
<form id="produccionForm" action="/produccion" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" id="idProHidden" name="idPro" value="">
    <div class="row">
        <div class="col-md-8">
            <h1>PRODUCTO TERMINADO</h1>
        </div>
        <div class="col-4">
            <a href="/produccion" class="custom-buttongreen" style="text-decoration: none;">Volver a Produccion</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped custom-table">
            <thead class="text-dark">
                <tr>
                    <th>#</th>
                    <th>Galleta</th>
                    <th>Cantidad en venta</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set counter = namespace(value=1) %}
                {% for pro in productos %}
                    {% set color = '' %}
                    {% if pro.cantidad <= 10 %}
                        {% set color = '#FEB9B6' %}
                    {% elif pro.cantidad <= 20 %}
                        {% set color = '#FAFEB6' %}
                    {% endif %}
                    <tr style="background-color: {{ color }};">
                        <th scope="row">{{ counter.value }}</th>
                        <td>{{ pro.nombre }}</td>
                        <td>{{ pro.cantidad }}</td>
                        <td><button type="button" onclick="solicitarProduccion('button{{ counter.value }}', '{{ pro.idPro }}')" name="action" value="Producir{{ counter.value }}" id="button{{ counter.value }}" class="btn btn-secondary">Producir</button></td>                    </tr>
                    {% set counter.value = counter.value + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>

<!-- <script src="../static/js/produccion.js"></script> -->
<script>
    function solicitarProduccion(idButton, idProducto) {
        //Desactivar el boton
        document.getElementById(idButton).disabled = true

        document.getElementById('idProHidden').value = idProducto; // Establecer el valor del campo oculto con idPro
        document.getElementById('produccionForm').submit(); // Enviar el formulario
    }

</script>


{%endblock%}