{%extends 'ContenedorMain/contenedorMain.html' %}

{%block content %}
{% from "Macros/inputComponent.html" import input_customVenta %}
<div>
    <form action="/compra" method="post" novalidate>
        <div class="row">
            <div class="col-4 ">
                <h1 class="text-center">Compras</h1>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        {{ input_customVenta(form.tipo_prov) }}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <h4 class="text-center">Productos</h4>
                <div class="seccion-con-scroll">
                    <div class="contenido-seccion">
                        <div class="row">
                            {% for producto in prodct %}
                            <div class="col-lg-4 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ producto.nombre }}</h5>
                                        {% set campo_nombre = 'nombre_producto_' + loop.index|string %}
                                        <input type="hidden" name="{{ campo_nombre }}" value="{{ producto.nombre }}">
                                        {% set campo_descripcion = 'unidad_medida_' + loop.index|string %}
                                        <input type="hidden" name="{{ campo_descripcion }}"
                                            value="{{ producto.unidad_medida }}">
                                        <div class="input-group">
                                            {{ input_customVenta(form['cantidad_producto_' + loop.index|string]) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="mt-3 custom-buttongreen" name="Agregar">Agregar</button>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <button type="submit" class="mt-3 custom-buttongreen" name="Terminar">Terminar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row m-2">
                    <table class="table table-bordered table-striped custom-table ">
                        <thead class="text-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Cantidad kg/L</th>
                                <th scope="col">subtotal</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compra in listaCompra %}
                            <tr>
                                <td>{{ loop.index }} </td>
                                <td>{{ compra['nombre_producto'] }}</td>
                                <td>{{ compra['cantidad_producto'] }}</td>
                                <td>{{ compra['subtotal'] }}</td>
                                <td><button class="btn btn-danger" name="Eliminar"
                                        value="{{ loop.index0 }}">Eliminar</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">Total</td>
                                <td colspan="3">{{ total }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>


{%endblock%}