{% extends 'ContenedorMain/contenedorMain.html' %}
{% block content %}
    {% from "Macros/inputComponent.html" import search_input, input_custom, input_select %}
    {% from "Macros/botonComponent.html" import custom_button, custom_buttongreen, custom_buttonsave %}

    <script src="../../static/sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="../../static/sweetalert2/sweetalert2.min.css" />

    {% if alerta %}
        <script>
            Swal.fire({ icon: 'error', title: '¡Error!', text: '{{ alerta }}' }).then(function() {
                let url = new URL(window.location.href);
                url.searchParams.delete('alerta');
                history.pushState({}, '', url.toString());
            });
        </script>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <h1>AGREGAR PAQUETE</h1>
        </div>
        <div class="col-md-4">
            <form action="/paquetes">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {{ custom_buttongreen("Volver a Paquetes") }}
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10 mt-3" style="height: 2px; background-color: rgba(0, 0, 0, 0.603);"></div>
    </div>

    <!-- Sección de la tabla de ingredientes -->
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="small-table-container">
                <table id="tablaElementos" class="small-table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in productosPaquete %}
                            <tr>
                                <td>{{ t.nombre_producto }}</td>
                                <td>{{ t.cantidad }}</td>
                                <td>
                                    <form action="/paquetes/guardarPaquete" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <input type="hidden" name="id_producto" value="{{ t.id_producto }}">
                                        <button type="submit" name="action" value="quitar" class="custom-buttondelete">Quitar</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Formulario para agregar ingredientes -->
    <div class="row">
        <div class="col-md-12 box-form3">
            <form action="/paquetes/guardarPaquete" method="post" novalidate>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="row mb-3 justify-content-center">
                    <div class="col-md-8">
                        <div class="col-md-12 mb-3">
                            {{ input_custom(form.productos) }}
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" id="cantidad" placeholder="Cantidad" class="input-container" name="cantidad">
                            </div>

                            <div class="col-md-6">
                                <button type="submit" name="action" value="agregar_item" class="custom-button">Agregar Productos</button>
                            </div>
                        </div>

                        <div class="row text-center mt-3">
                            <label style="font-weight: bold;">AGREGA LOS PRODUCTOS QUE CONFORMAN AL PAQUETE</label>
                        </div>

                        <div class="row mt-5" style="justify-content: space-between;">

                            <div class="col-md-6">
                                <div class="row">
                                    <h5>Precio Sugerido:  </h5>
                                    <h4 style="color: green;"> $ {{precio}} </h4>
                                </div>
                            </div>

                            <div class="col-md-6" >
                                <div class="row" style="text-align: end;">
                                    <h5>Peso del Paquete:  </h5>
                                    <h4 style="color: green;"> {{peso}} g </h4>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>

    <!-- Formulario para actualizar el producto -->
    <form action="/paquetes/guardarPaquete" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-md-12 box-form3">

                <div class="row mb-3">
                    <div class="col-md-8">
                        {{ input_custom(form.nombrePaquete) }}
                    </div>
                    <div class="col-md-4">
                        {{ input_custom(form.costoPaquete) }}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <button type="submit" name="action" value="guardar_paquete" class="custom-buttongreen">Agregar Paquete</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

{% endblock %}
