{%extends 'ContenedorMain/contenedorMain.html' %}
{% from "Macros/inputComponent.html" import input_customVenta %}
{% from "Macros/botonComponent.html" import custom_buttongreen %}
{%block content %}

<div class="row">
    <form action="/pagePrincipal/venta/corte" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-3">
                <h1 class="text-center">CORTE</h1>
            </div>
            <div class="col-4">
                {{ input_customVenta(form.tipo_corte) }}
            </div>
            <div class="col-4">
                <button type="submit" class="custom-buttongreen btn btn-success" name="action" value="">Cargar</button>
            </div>
        </div>
    </form>
</div>
<div class="row justify-content-center">
    <div class="col-md-10 mb-4 mt-3" style="height: 2px; background-color: rgba(0, 0, 0, 0.603);"></div>
</div>
<div class="row">
    <div class="p-5">
        <h1>Ventas realizadas</h1>
        <table class="table table-bordered table-striped custom-table">
            <thead class="text-dark">
                <tr>
                    <th>Folio</th>
                    <th>Fecha</th>
                    <th>Cantidad Articulos</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    {% set subtotal_float = registro[7] | float %}
                    <td>{{ registro[3] }}</td>
                    <td>{{ registro[4] }}</td>
                    <td>{{ registro[6] }}</td>
                    <td>{{ subtotal_float }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Total</td>
                    <td colspan="3">{{ total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


{%endblock%}