{% extends 'ContenedorMain/contenedorMain.html' %}


{% block content %}
    
<!--Main-->
<div class="main">
    

    <!--cards-->
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">${{totalVentas}}</div>
                <div class="cardName">Revenue</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">{{cantidadVentas}}</div>
                <div class="cardName">Sales</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cart-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">{{productoVendido}}</div>
                <div class="cardName">Selled the most</div>
            </div>
            <div class="iconBx">
                <ion-icon name="analytics-outline"></ion-icon>
            </div>
        </div>   
        <div class="card">
            <div>
                <div class="numbers">{{caducidades}}</div>
                <div class="cardName">Productos en riesgo (caducidad)</div>
                
            </div>
            <div class="iconBx">
                <!-- <ion-icon name="cash-outline"></ion-icon> -->
                <ion-icon name="alert-circle-outline"></ion-icon>
            </div>
        </div>                                                              
    </div>
    <!--Add charts-->
    <div class="graphBox">
        
        <div class="box">
            <!-- Select element for choosing a month -->
            <div class="select-wrapper">
                <select id="monthSelect">
                    <option value="all">All Months</option>
                    {% for month, data in ventasPr.items() %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
            <canvas id="myChart"></canvas>
        </div>
        
        <div class="box">
            <canvas id="earning"></canvas>
        </div>
    </div>


    <div class="details">
        <!-- order details list -->
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Recent Orders</h2>
                <!-- <a href="#" class="btn">View All</a> -->
            </div>
            <table>
                <thead>
                    <tr>
                        <td>VentaID</td>
                        <td>ClienteID</td>
                        <td>Folio</td>
                        <td>Fecha</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.Id_Venta }}</td>
                        <td>{{ venta.Cliente_ID }}</td>
                        <td>{{ venta.Folio_Venta }}</td>
                        <td>{{ venta.Fecha_Venta }}</td>
                        <td>{{ venta.Total_Venta }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- New Customers -->
        <div class="recentCustomers">
            <div class="cardHeader">
                <h2>Caducidades Inventario</h2>
            </div>
            <table>
                {% for cad in caducidadesINV %}
                <tr>
                    <td><h4>ID: {{cad.idInventario}}</h4></td>
                    <!-- <td><div class="imgBx"><img src="Images/User2.png"></div></td> -->
                    <td><h4>{{cad.Nombre}} <br><span>Caduca el: {{cad.caducidadInventario}}</span></h4></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="details produccion" >
        <!-- order details list -->
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>En produccion</h2>
                <!-- <a href="#" class="btn">View All</a> -->
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Nombre Producto</td>
                        <td>Costo Producto</td>
                        <td>Fecha de inicio de produccion</td>
                        <td>Fecha de fin de produccion</td>
                    </tr>
                </thead>
                <tbody>
                    {% for pro in produccion %}
                        {% set color = '#DDFFC7' %}
                        {% if pro.estado_fecha == 0 %}
                            {% set color = '#FFCFC7' %}
                        {% endif %}
                        <tr style="background-color: {{ color }};">
                            <td>{{ pro.nombre }}</td>
                            <td>{{ pro.costo }}</td>
                            <td>{{ pro.fechaInicio }}</td>
                            <td>{{ pro.fechaFin }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>   
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<!-- <script type="module" src="../static/js/my_chart.js"></script> -->
<script>

    var ctx = document.getElementById('myChart').getContext('2d');
    var earning = document.getElementById('earning').getContext('2d');

    const allColors = [
    // 'rgba(153, 102, 255, 1)',
    // 'rgba(255, 159, 64, 1)',
    // 'rgba(75, 192, 192, 1)',
    // 'rgba(255, 0, 0, 1)',     // Red
    // 'rgba(0, 255, 0, 1)',     // Green
    // 'rgba(0, 0, 255, 1)',     // Blue
    // 'rgba(255, 255, 0, 1)',   // Yellow
    // 'rgba(255, 0, 255, 1)',   // Magenta
    // 'rgba(0, 255, 255, 1)'
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)',
    'rgba(255, 99, 132, 1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
    'rgba(153, 102, 255, 1)',
    'rgba(255, 159, 64, 1)'
];

    var ventasAnioData = {{ ventasAnio | tojson | safe }};
    // Extract the 'cantidad' values from each object in ventasAnioData2
    var cantidadData = ventasAnioData.map(item => item.cantidad);
    
    console.log(ventasAnioData);
    var earning = new Chart(earning, {
        type: 'line',
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'], // Use the keys as labels
            datasets: [{
                label: 'Distribucion de ventas',
                backgroundColor:  allColors,
                data: cantidadData // Use the values as data points
            }]
        },
        options: {
            responsive: true, 
        }
    });
    
    
    var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            datasets: [{
                backgroundColor: allColors
            }]

        },
        options: {
            responsive: true, 
            plugins: {
                title: {
                    display: true,
                    text: 'Ventas Producto Mensual'
                }
            }
        }
    });

    // Function to load the chart based on the selected month
    function productChart() {
        const ventasPr = {{ ventasPr | tojson | safe }};
        console.log(ventasPr);
        const month = document.getElementById('monthSelect').value;
        const chartData = ventasPr[month] || [];

        // Extract the 'cantidad' values from each object in chartData
        const cantidadData = chartData.map(item => ({
            label: item.nombre,
            value: item.cantidad
        }));

        // Update the chart with the new data
        myChart.data.labels = cantidadData.map(item => item.label);
        myChart.data.datasets[0].data = cantidadData.map(item => item.value);
        myChart.update();
        
    }

    // Call productChart initially to load the chart for all months
    productChart();

    // Add event listener to the select element
    document.getElementById('monthSelect').addEventListener('change', function() {
        productChart();
    });
</script>

{% endblock %}