<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Merma</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.1.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/estilosMacros.css">
    <link rel="stylesheet" href="../../static/css/estilosGenerales.css">
</head>
<body>
    {% from "Macros/inputComponent.html" import search_input, input_custom %}
    {% from "Macros/botonComponent.html" import custom_button, custom_buttondelete, custom_buttongreen %}

    <form action="/inventario/guardarMerma" method="post" novalidate>
        <input type="hidden" name="id_inventario" value="{{ resultados.id_inventario }}">

        <div class="box-form2">
            <h2 style="text-align: center;">DETALLES DEL PRODUCTO QUE SE INGRESARÁ A MERMA</h2>
    
            <div class="row mb-3 mt-5">
                <div class="col-md-12 mb-1" style="text-align: center;">
                    <label for="nombreProducto" class="form-label" style=" color: rgb(165, 112, 42);">Nombre del Producto: {{resultados.nombre}}</label>
                </div>
                <div class="col-md-12 mb-1" style="text-align: center;">
                    <label for="fecha" class="form-label" style=" color: rgb(165, 112, 42);">Caduca el: {{resultados.fecha_caducidad}}</label>
                </div>
                <div class="col-md-12 mb-1" style="text-align: center;">
                    <label for="cantidad" class="form-label" style=" color: rgb(165, 112, 42);">Tu inventario disponible es de: {{resultados.cantidad_inv}}</label>
                </div>
            </div>
    
            <div class="row">
                {{ input_custom(form.merma) }}
            </div>
    
            <div class="row mt-5">
                <div class="col-md-6">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {{ custom_buttongreen("Aceptar") }}
                </div>
            </form>
                <div class="col-md-6">
                    <a href="/inventario" class="custom-buttondelete" style="text-decoration: none;">Cancelar</a>
                </div>
            </div>
        </div>

    
    
</body>
</html>
