{% extends 'ContenedorMain/contenedorMain.html' %} {% block content %} {% from
"Macros/inputComponent.html" import search_input, input_custom %} {% from
"Macros/botonComponent.html" import custom_button, custom_buttongreen,
custom_buttonsave, custom_buttonBig, custom_buttonBigGreen%}
<link rel="stylesheet" href="../../static/css/buttons.css" />

<div class="row" style="justify-content: space-evenly">
  <div class="col-6" style="padding-left: 42px">
    <div class="titleModule">Entrada a inventario</div>
  </div>
  <div class="col-6" style="padding-top: 20px; padding-right: 60px">
    <form action="/inventario" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{ custom_buttongreen("Volver a Inventario") }}
    </form>
  </div>
</div>
<hr />
<br /><br />

<div class="row">
  <div class="col-md-5">
    <form action="/inventario/entradaInventario" method="post" novalidate>
      <input type="hidden" name="tipo" value="{{ 1 }}" />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{ custom_buttonBig("MATERIALES") }}
    </form>
  </div>

  <div class="col-md-2 d-flex align-items-center justify-content-center">
    <h3 class="text-center">SELECCIONA EL TIPO DE ENTRADA</h3>
  </div>

  <div class="col-md-5">
    <form action="/inventario/entradaInventario" method="post" novalidate>
      <input type="hidden" name="tipo" value="{{ 2 }}" />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{ custom_buttonBigGreen("PRODUCTOS") }}
    </form>
  </div>
</div>

{% endblock %}
