<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COOKIES</title>
    <link
      rel="stylesheet"
      href="../../static/bootstrap-5.1.3-dist/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="../../static/bootstrap-5.1.3-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../static/css/estilosNavbar.css" />
    <link
      rel="stylesheet"
      href="../../static/font_awesome_5_15_3/css/all.min.css"
    />
    <link rel="stylesheet" href="../../static/css/estilosMacros.css" />
    <link rel="stylesheet" href="../../static/css/estilosGenerales.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styleGabo.css" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../static/css/layout.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="../../static/sweetalert2/sweetalert2.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          href="/dashboard"
          style="color: white; font-weight: 400"
        >
          <img
            src="../../static/img/icono_navbar.png"
            alt="logo"
            class="d-inline-block align-text-top"
            width="25"
            ,
            height="25"
          />
          Cookies
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <span class="material-symbols-outlined"> group_add </span>
              <a
                id="users"
                class="nav-link active"
                aria-current="page"
                style="color: aliceblue"
                href="/pagePrincipal/user"
                >Usuarios</a
              >
            </li>
            <li class="nav-item">
              <span class="material-symbols-outlined">supervisor_account</span>
              <a
                class="nav-link"
                style="color: aliceblue"
                href="/pagePrincipal/proveedor"
                >Proveedores</a
              >
            </li>

            <li class="nav-item">
              <span class="material-symbols-outlined"
                >shopping_cart_checkout</span
              >
              <a class="nav-link" style="color: aliceblue" href="/compra"
                >Compras</a
              >
            </li>

            <li class="nav-item">
              <span class="material-symbols-outlined"> inventory_2 </span>
              <a class="nav-link" style="color: aliceblue" href="/inventario"
                >Inventario</a
              >
            </li>

            <li class="nav-item">
              <span class="material-symbols-outlined"> box_add </span>
              <a class="nav-link" style="color: aliceblue" href="/paquetes"
                >Paquetes</a
              >
            </li>

            <li class="nav-item">
              <span class="material-symbols-outlined">grocery</span>
              <a class="nav-link" style="color: aliceblue" href="/produccion"
                >Producción</a
              >
            </li>

            <li class="nav-item dropdown">
              <span class="material-symbols-outlined"> currency_exchange </span>
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: aliceblue"
                >Ventas</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/pagePrincipal/venta">Venta</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/pagePrincipal/ventaPaquetes"
                    >Venta Paquetes</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/pagePrincipal/venta/corte"
                    >Venta Corte</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item logout">
              <a class="nav-link" style="color: aliceblue" href="/logout">
                <span
                  class="material-symbols-outlined"
                  style="font-size: large"
                >
                  logout
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid mt-5">{% block content %} {% endblock %}</div>

    <script src="../../static/sweetalert2/sweetalert2.min.js"></script>
    <script src="../../static/js/producto.js"></script>
    <script
      src="../../static/bootstrap-5.1.3-dist/js/bootstrap.js"
      type="text/javascript"
    ></script>
    <script
      src="https://kit.fontawesome.com/b526ea65d4.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/modules.js"></script>
  </body>
</html>
